<html>
<head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}
    
    th {
      background-color: #ebd50e;
      color: white;
    }
    #c1{
      border:1px solid;

    }
    #c2{
      border:1px solid;
      
    }
    .button {
      background-color: #04AA6D; /* Green */
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .button5 {
      background-color: white;
      color: black;
      border: 2px solid #555555;
    }
    
    .button5:hover {
      background-color: #555555;
      color: white;
    }
    .element{
      padding: 2px 12px;
    }
  </style>
</head>
<title>
  Weather App
</title>
<body>
<h1>Weather Today</h1>

<form method="POST">
    {% csrf_token %}
    <input type="radio" id="coordinate" name="location" value="Coordinate" onchange="check(this)">
    <label for="html">Coordinates</label>
    <input type="radio" id="place" name="location" value="Location" onchange="check(this)">
    <label for="css">Location</label><br>
    <div id="c1" style="font-size: 18px;">
      <div class="element">
    City:
      <input type="text" class="form-control" id="city" name="city"  placeholder="Enter the city name" ><br>
      </div>
      <div class="element">
      State Code:
      <input type="text" class="form-control" id="statecode" name="statecode" placeholder="Enter the state code"><br>
      </div>
      <div class="element">
      Country Code:
      <input type="text" class="form-control" id="cc" name="cc" placeholder="Enter the country code"><br>
      </div>
    </div>
    <div id="c2" style="font-size: 18px;">
      <div class="element">
      Longitude:
      <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Enter the longitude coordinate"><br>
      </div>
      <div class="element">
      Latitude:
      <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Enter the latitude coordinate"><br>
      </div>
    </div>
      <input type="submit" class="button button5" value="fetch">
    
<form>
<br>
For Forecast 
  <a class="btn btn-sm btn-info" href="{% url 'forecast' %}">Click Here</a>
<table>
  <tr>
   <th> Parameter</th>
   <th>Value</th>
   <th>Information</th>
  </tr>
  {%if name%}
  <tr>
    <td>Name</td>
    <td>{{name}}</td>
    <td>Name of the city</td>
    
  </tr>
  {%endif%}
    {%if latitude%}
<tr>
  
  <td>Latitude</td>
  <td>{{latitude}}</td>
  <td>Latitude of the location</td>
</tr>
{%endif%}
{%if longitude%}
<tr>
  
  <td>Longitude</td>
  <td>{{longitude}}</td>
  <td>Longitude of the location</td>
</tr>
{%endif%}
{%if weathermain%}
<tr>
  
  <td>Weathermain</td>
  <td>{{weathermain}}</td>
  <td>Group of weather parameters (Rain, Snow, Clouds etc.)</td>
</tr>
{%endif%}
{%if weatherdesc%}
<tr>
    <td>Weather Description</td>
    <td>{{weatherdesc}}</td>
    <td>Weather condition within the group</td>
</tr>
{%endif%}


{%if maintemp%}
<tr>
  <td>Temperature</td>
  <td>{{maintemp}}</td>
  <td>Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit</td>
</tr>
{%endif%}
{%if tempmin%}
<tr>
  <td>Minimum Temperature</td>
  <td>{{tempmin}}</td>
  <td>Minimum temperature at the moment. This is minimal currently observed temperature (within large megalopolises and urban areas).</td>
</tr>
{%endif%}
{%if tempmax%}
<tr>
  <td>Maximum Temperature</td>
  <td>{{tempmax}}</td>
  <td>Maximum temperature at the moment. This is maximal currently observed temperature (within large megalopolises and urban areas).</td>
</tr>
{%endif%}
{%if pressure%}
<tr>
  <td>pressure</td>
  <td>{{pressure}}</td>
  <td>Atmospheric pressure on the sea level, hPa</td>
</tr>
{%endif%}
{%if humidity%}
<tr>
  <td>humidity</td>
  <td>{{humidity}}</td>
  <td>Humidity, %</td>
</tr>
{%endif%}
{%if sealvl%}
<tr>
  <td>Sea Level</td>
  <td>{{sealvl}}</td>
  <td> Atmospheric pressure on the sea level, hPa</td>
</tr>
{%endif%}
{%if groundlvl%}

<tr>
  <td>Ground Level</td>
  <td>{{groundlvl}}</td>
  <td> Atmospheric pressure on the Ground level, hPa</td>
</tr>
{%endif%}

<!--______________________________________________________________________________-->
{%if visibility%}
<tr>
  <td>visibility</td>
  <td>{{visibility}}</td>
  <td>Visibility, meter. The maximum value of the visibility is 10 km</td>
</tr>
{%endif%}
{%if windspeed%}
<tr>
  <td>Wind Speed</td>
  <td>{{windspeed}}</td>
  <td> Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour</td>
</tr>
{%endif%}
{%if degrees%}
<tr>
  <td>Wind Degree</td>
  <td>{{winddeg}}</td>
  <td> Wind direction, degrees (meteorological)</td>
</tr>
{%endif%}
{%if windgust%}
<tr>
  <td>Wind Gust</td>
  <td>{{windgust}}</td>
  <td> Wind gust. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour</td>
</tr>
{%endif%}
{%if clouds%}
<tr>
  <td>Clouds</td>
  <td>{{clouds}}</td>
  <td> Cloudiness, %</td>
</tr>
{%endif%}
{%if rain%}
<tr>
  <td>Rain</td>
  <td>{{rain}}</td>
  <td> Rain volume for the last 1 hour, mm. Please note that only mm as units of measurement are available for this parameter</td>
</tr>
{%endif%}
{%if snow%}
<tr>
  <td>Snow</td>
  <td>{{snow}}</td>
  <td>Snow volume for the last 1 hour, mm. Please note that only mm as units of measurement are available for this parameter</td>
</tr>
{%endif%}

{%if country%}
<tr>
  <td>Country</td>
  <td>{{country}}</td>
  <td>  Country code (GB, JP etc.)</td>
</tr>
{%endif%}
{%if timezone%}
<tr>
  <td>Time Zone</td>
  <td>{{timezone}}</td>
  <td> Shift in seconds from UTC</td>
</tr>
{%endif%}
{%if sunrise%}
<tr>
  <td>Sunrise</td>
  <td>{{sunrise}} </td>
  <td>  Sunrise time, unix, UTC</td>
</tr>
{%endif%}
{%if sunset%}
<tr>
  <td>Sunset</td>
  <td>{{sunset}} </td>
  <td>  Sunset time, unix, UTC</td>
</tr>
{%endif%}

</table>
<script>
  var x= document.getElementById('coordinate')
  function check(){   
      
  if(document.getElementById('coordinate').checked) {   
    document.getElementById("c2").style.display = "block";
    document.getElementById("c1").style.display = "none";
    /*
    document.getElementById("latitude").style.visibility = "visible";
    document.getElementById("longitude").style.visibility = "visible";
    document.getElementById("city").style.visibility = "hidden";
    document.getElementById("cc").style.visibility = "hidden";
    document.getElementById("statecode").style.visibility = "hidden";*/
  }
  else{
    document.getElementById("c1").style.display = "block";
    document.getElementById("c2").style.display = "none";
    /*
    document.getElementById("latitude").style.visibility = "hidden";
    document.getElementById("longitude").style.visibility = "hidden";
    document.getElementById("city").style.visibility = "visible";
    document.getElementById("cc").style.visibility = "visible";
    document.getElementById("statecode").style.visibility = "visible";*/
  }
}
</script>
</body>
</html>